VITE_SUPABASE_URL=https://ohpzgwllyclxlbhrpbxh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ocHpnd2xseWNseGxiaHJwYnhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MTQxMDEsImV4cCI6MjA5MjA5MDEwMX0.MUZgx_gf2J1PQQOEKxykndZaUXBwTb5J6VX1PybOgGw